
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #1a1a18;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: gold;
}

.button #logIn {
   width: 100px;
   height: 30px;
   align-items: center;
   border: 0%;
   border-radius: 15px;
   background: #bbbbbb;
   box-shadow:  13px 13px 17px #654242,
                -13px -13px 27px #373333;
}
.sign__form {
    width: 250px;
    height: 30px;
    border-radius: 10px;
    margin: 10px;
    padding-left: 5px;
    
}

#signUp {
    width: 150px;
    height: 30px;
    margin-top: 25px;
    margin-left: 80px;
    background-color: white;
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow:  13px 13px 17px #654242,
                 -13px -13px 27px #efefef;
}

#signUp, #back, #signUpCommuter, #commuterBack {
    margin-left: 53px;
}

.driver_data, .commuter_data {
    padding: 5px
}

.form__driver, .form__driverLogin, .form__commuter_login {
    display: none;

}

.sign__form,.driver_data {
    width: 300px;

}

.icon__taxi {
    display: flex;
    justify-content: center;
    
}

.icon_commuter, .icon__taxi {
    margin-left: 100px;
    text-align: center;
    padding: 40px;
}

.h3 {
    height: 80vh;
    margin-top: 70px;
}

.driver_dashB, .commuterDashB {
    width: 100%;
    height: 400px;
    /* Adjust the height as needed */
}

.simulate {
    width: 80px;
    height: 35px;
    display: flex;
    text-align: center;
    background-color: chocolate;
    border-radius: 8%;
    padding: 10px;
    margin-top: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: pointer;
}

.driver_name {
    padding: 30px;
}